<%= form_tag '/links', remote: true, class: "form-url form-horizontal" do -%>
  <div class="control-group">
    <%= label_tag 'original', 'Paste a link to shorten it', class: "control-label" %>
    <div class="controls">
      <%= text_field_tag 'original', nil, class: "input-block-level",
                                    placeholder: "Url", rows: "4" %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag 'custom', 'Customize your link', class: "control-label" %>
    <div class="controls">
      <%= text_field_tag 'custom', nil, class: "input-block-level", placeholder: "Custom link"  %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= submit_tag 'Shorten it!', class: "btn btn-success btn-primary" %>
    </div>
  </div>
<% end -%>