!!!
%html
  %head
    %title
      li.nq | #{content_for?(:title) ? yield(:title) : "URL Shortener web-app"}
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .container-narrow
      = render 'layouts/header'
      .flash_message
        - flash.each do |key, value|
          = content_tag :div, value, class: "alert alert-#{key}"
      = render 'layouts/share_buttons'
      = yield
      = render 'layouts/footer'
      /
        Le javascript
        \==================================================
      / Placed at the end of the document so the pages load
      = javascript_include_tag "application"
      = yield :js