<!DOCTYPE html>
<html>
  <head>
    <title>li.nq | <%= content_for?(:title) ? yield(:title) : "URL Shortener web-app" %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
    <body>
      <div class="container-narrow">
        <%= render 'layouts/header' %>
        
        <div class="flash_message">
          <% flash.each do |key, value| %>
            <%= content_tag :div, value, class: "alert alert-#{key}" %>
          <% end %>
        </div>
        
        <%= yield %>
        
        <%= render 'layouts/footer' %>
      </div>
      
      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <%= javascript_include_tag "application" %>
    </body>
</html>
